<h2>Observables in RxJS</h2>

<hr>
<u><h3>1. Basic example of Observables, Observer, Subscribe and Unsubscribe</h3></u>
<button (click)="clickHandler()">Fetch Next</button>
<button (click)="unsubscribeObservable()">Unsubscribe Me</button><br>
<span>Here comes the ajax values - {{ values }}</span>
<br>

<hr>
<u><h3>2. Using Observer to bind DOM event</h3></u>


<hr><u><h3>3. UniCast</h3></u>


<hr><u><h3>4. MultiCast</h3></u>


<hr><u><h3>5. Subject</h3></u>


<hr><u><h3>6. Of</h3></u>


<hr><u><h3>7. From</h3></u>

<hr><u><h3>7. Share() vs Publish().refCount()</h3></u>
<span>Shared Data {{ sharedData$ }}</span>
<span>Published Data {{ publishedData$ }}</span>
